VITE_APP_NAME=StowLink
VITE_LEMONSQUEEZY_CHECKOUT_URL=
VITE_APP_DOWNLOAD_URL=https://github.com/Cratis1831/stowlink-releases/releases/latest/download/StowLink.zip
VITE_RELEASES_URL=https://github.com/Cratis1831/stowlink-releases/releases
VITE_SUPPORT_EMAIL=support@stowlink.app
VITE_PRICE_LABEL=$19
